*
{
    margin: 0;
    padding: 0;
}

video,
canvas
{
    position: absolute;
    top: 0;
    left: 0;

    margin-top: 0;
    margin-left: 0;
}
.success
{
    position: absolute;

    color: blue;
}

#full,
#canvas,
#video
{
    display: block;

    width: 100%;
}

#shortCut
{
    width: 20%;
}
.demo-container
{
    position: relative;

    width: 85%;
    margin: 0 auto;
}

#canvas
{
    z-index: 1;
}

#shortCut
{
    z-index: 2;
}

.info
{
    font-size: .5rem;

    position: absolute;
    bottom: .5rem;
    left: 0;

    display: none;

    width: 100%;

    text-align: center;
}
.success
{
    color: blue;
}
.hasSuccess
{
    color: red;
}

#tip
{
    font-size: .3rem;

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    text-align: center;
}
